{% extends 'headers.html' %}
{% block detail %}
    <link href="{{ url_for('static',filename='assets/plugins/select2/css/select2.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}"
          rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='assets/plugins/jquery-multi-select/multi-select.css') }}" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/notifications/css/lobibox.min.css') }}"/>
    <link href="{{ url_for('static',filename='assets/plugins/switchery/css/switchery.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='assets/plugins/bootstrap-switch/bootstrap-switch.min.css') }}"
          rel="stylesheet">

    <div class="clearfix"></div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumb-->
            <div class="row pt-2 pb-2">
                <div class="col-sm-9">
                    <h4 class="page-title">土拍公告录入</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javaScript:void();">数据管理平台</a></li>
                        <li class="breadcrumb-item active" aria-current="page">土拍公告录入</li>
                    </ol>
                </div>

            </div>
            <!-- End Breadcrumb-->


            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">公告信息（单位：平方米、万元、年、%）</div>
                            <hr>

                            <form>

                                <div class="form-group row">
                                    <label for="input_assignment_limit" class="col-sm-2 col-form-label"
                                           id="label_input_assignment_limit">是否独立地块</label>
                                    <div class="col-sm-10">
                                        <div class="icheck-material-success">
                                            <input type="checkbox" id="success" checked/>
                                            <label for="success">勾选表示：该公告编号下是否有且只有一个地块（需填写地块编号）；未勾选表示：该公告编号下有多个地块（公告信息保存后可选择添加地块）</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group row" id="div_parcel_no">
                                    <label for="input_parcel_no" class="col-sm-2 col-form-label"
                                           id="label_input_parcel_no">地块编号</label>
                                    <div class="col-sm-10" id="div_notice_no">
                                        <input type="text"
                                               class="form-control" id="input_parcel_no"
                                               placeholder="请输入地块编号" required="required"
                                        >
                                    </div>
                                </div>

                                <div class="form-group row" id="input_notice_no_title">
                                    <label for="input_notice_no" class="col-sm-2 col-form-label"
                                           id="label_input_notice_no">公告编号</label>
                                    <div class="col-sm-10" id="div_notice_no">
                                        <input type="text" onkeyup=" this.value=this.value.replace(/[^\w-]/g,'') "
                                               class="form-control" id="input_notice_no"
                                               placeholder="请输入由字母、数字、横线或下划线组成的公告编号" required="required"
                                               onblur='notice_no_is_repetition()'>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="select_region_code" class="col-sm-2 col-form-label"
                                           id="label_select_region_code">行政区</label>
                                    <div class="col-sm-10">
                                        <select class="form-control single-select" id="select_region_code">
                                            <option value="-1">请选择</option>
                                            {% for key,value in region_dict.items() %}
                                                <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input_land_location" class="col-sm-2 col-form-label"
                                           id="label_input_land_location">土地坐落</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input_land_location"
                                               required="required"
                                               placeholder="请输入公告详情中的土地坐落">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input_date" class="col-sm-2 col-form-label">公告时间</label>
                                    {#                                    增加唯一标签#}
                                    <label style="display: none" id="label_input_date_begin">公告起始时间</label>
                                    <label style="display: none" id="label_input_date_end">公告结束时间</label>
                                    <div class="col-sm-10">
                                        <div id="dateragne-picker">
                                            <div class="input-daterange input-group">
                                                <input type="text" class="form-control" name="start" required="required"
                                                       id="input_date_begin"
                                                       placeholder="请选择起始时间"/>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">至</span>
                                                </div>
                                                <input type="text" class="form-control" name="end" id="input_date_end"
                                                       placeholder="请选择结束时间" required="required"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="select_assignment_method" class="col-sm-2 col-form-label"
                                           id="label_select_assignment_method">出让方式</label>
                                    <div class="col-sm-10">
                                        <select class="form-control single-select" id="select_assignment_method">
                                            <option value="-1">请选择</option>
                                            <option value="1">拍卖</option>
                                            <option value="2">挂牌</option>
                                            <option value="3">招标</option>
                                            <option value="4">协议</option>
                                            <option value="5">未定</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="input_assignment_limit" class="col-sm-2 col-form-label"
                                           id="label_input_assignment_limit">出让年限</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input_assignment_limit"
                                               placeholder="请输入出让年限" required="required">
                                    </div>
                                </div>

                                <div class="form-group row" id="input_total_area_title">
                                    <label for="input_total_area" class="col-sm-2 col-form-label"
                                           id="label_input_total_area">总面积</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input_total_area"
                                               placeholder="请输入总面积"
                                               onkeyup=" this.value=this.value.replace(/[^\d.]/g,'') "
                                               required="required">
                                    </div>
                                </div>

                                <div class="form-group row" id="input_a">
                                    <label for="input_construction_area" class="col-sm-2 col-form-label"
                                           id="label_input_construction_area">建设用地面积</label>
                                    <div class="col-sm-4" id="div_plan_con">
                                        <input type="text" class="form-control" id="input_construction_area"
                                               placeholder="请输入建设用地面积" required="required"
                                               onkeyup=" this.value=this.value.replace(/[^\d.<>=≥≤()-\[\]]/g,'') "
                                        >
                                    </div>
                                    <label for="input_plan_area" class="col-sm-2 col-form-label"
                                           id="label_input_plan_area">规划建筑面积</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input_plan_area"
                                               placeholder="请输入规划建筑面积" required="required"
                                               onkeyup=" this.value=this.value.replace(/[^\d.<>=≥≤()-\[\]]/g,'') ">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input_floor_area_ratio" class="col-sm-2 col-form-label"
                                           id="label_input_floor_area_ratio">可建面积或容积率</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input_floor_area_ratio"
                                               placeholder="请输入可建面积或容积率（按规划要求替换为==）" required="required"
                                               onkeyup=" this.value=this.value.replace(/[^\d.%<>=≥≤()-\[\]]/g,'') ">
                                    </div>
                                    <label for="input_building_density" class="col-sm-2 col-form-label"
                                           id="label_input_building_density">建筑密度</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input_building_density"
                                               placeholder="请输入建筑密度（按规划要求替换为==）" required="required"
                                               onkeyup=" this.value=this.value.replace(/[^\d.%<>=≥≤()-\[\]]/g,'') ">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input_greening_rate" class="col-sm-2 col-form-label"
                                           id="label_input_greening_rate">绿化率</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input_greening_rate"
                                               placeholder="请输入绿化率（按规划要求替换为==）" required="required"
                                               onkeyup=" this.value=this.value.replace(/[^\d.%<>=≥≤()-\[\]]/g,'') ">
                                    </div>
                                    <label for="input_business_proportion" class="col-sm-2 col-form-label"
                                           id="label_input_business_proportion">商业比例</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input_business_proportion"
                                               placeholder="请输入商业比例" required="required"
                                               onkeyup=" this.value=this.value.replace(/[^\d.%<>=无()-\[\]]/g,'') ">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input_price_begin" class="col-sm-2 col-form-label"
                                           id="label_input_price_begin">起始价</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input_price_begin"
                                               placeholder="请输入起始价" required="required"
                                               onkeyup=" this.value=this.value.replace(/[^\d.%<>=]/g,'') ">
                                    </div>
                                    <label for="input_security_deposit" class="col-sm-2 col-form-label"
                                           id="label_input_security_deposit">保证金</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input_security_deposit"
                                               placeholder="请输入保证金" required="required"
                                               onkeyup=" this.value=this.value.replace(/[^\d.%<>=]/g,'') ">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input_notice_use" class="col-sm-2 col-form-label"
                                           id="label_input_notice_use">公告用途</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input_notice_use"
                                               placeholder="请输入公告用途" required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="select_plan_use_custom" class="col-sm-2 col-form-label"
                                           id="label_select_plan_use_custom">统计用途分类</label>
                                    <div class="col-sm-10">
                                        <select class="form-control single-select" id="select_plan_use_custom"
                                                required="required">
                                            <option value="-1">请选择</option>
                                            {% for key,value in custom_use_dict.items() %}
                                                <option value="{{ value }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="standard_use_code" class="col-sm-2 col-form-label">标准用途分类</label>
                                    <div class="col-sm-10">
                                        <div class="card">
                                            <div class="card-header text-uppercase">多选用途</div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-group">
                                                        <select name="country" class="multi-select" multiple="multiple"
                                                                id="standard_use_code">
                                                            {#                                                            <option value="AF">二类居住用地</option>#}
                                                            {% for key,value in standard_use_dict.items() %}
                                                                <option value="{{ key }}">{{ value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary px-5"
                                                        id="submit_data"
                                                        style="cursor: not-allowed"
                                                        onmousemove="check_select()"
                                                        onclick="return saveData()">
                                                    提交
                                                </button>

                                                <span id="submit_info"></span>
                                                <span id="save_info"></span>
                                            </div>
                                        </div>
                            </form>

                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="modal_is_go_on_parcel">
                        <div class="modal-dialog">
                            <div class="modal-content border-success">
                                <div class="modal-header bg-success">
                                    <h5 class="modal-title text-white">是否继续录入地块数据？</h5>
                                    <button type="button" class="close text-white" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>您录入的公告信息已经<span class="text-success">保存成功</span>!</p>
                                    <p>请选择是否继续录入该公告的地块信息?</p>
                                    <p>选择<span class="badge badge-success ">继续</span>，将会新建该公告信息的地块信息录入界面!</p>
                                    <p>选择<span class="badge badge-danger ">关闭</span>，您可以后续在土拍数据查询编辑中录入！</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                            class="fa fa-times"></i> 关闭
                                    </button>
                                    <button type="button" class="btn btn-success" id="button_go_on" onclick="openNewHref()"><i class="fa fa-check-square-o"></i>
                                        继续
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- ModalEnd -->

                </div>
            </div><!--End Row-->

        </div>
        <!-- End container-fluid-->

    </div><!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
{% endblock %}
{% block script %}
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    {#    <script src="{{ url_for('static',filename='assets/js/popper.min.js') }}"></script>#}
    <script src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}"></script>

    <!-- simplebar js -->
    <script src="{{ url_for('static',filename='assets/plugins/simplebar/js/simplebar.js') }}"></script>
    <!-- sidebar-menu js -->
    <script src="{{ url_for('static',filename='assets/js/sidebar-menu.js') }}"></script>

    <!-- Custom scripts -->
    <script src="{{ url_for('static',filename='assets/js/app-script.js') }}"></script>

    <!--Bootstrap Touchspin Js-->
    <script src="{{ url_for('static',filename='assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/plugins/bootstrap-touchspin/js/bootstrap-touchspin-script.js') }}"></script>

    <!--Select Plugins Js-->
    <script src="{{ url_for('static',filename='assets/plugins/select2/js/select2.min.js') }}"></script>
    <!--Inputtags Js-->
    <script src="{{ url_for('static',filename='assets/plugins/inputtags/js/bootstrap-tagsinput.js') }}"></script>

    <script src="{{ url_for('static',filename='assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script>
        $('#default-datepicker').datepicker({
            todayHighlight: true
        });
        $('#autoclose-datepicker').datepicker({
            autoclose: true,
            todayHighlight: true
        });

        $('#inline-datepicker').datepicker({
            todayHighlight: true
        });

        $('#dateragne-picker .input-daterange').datepicker({});

    </script>

    <script src="{{ url_for('static',filename='assets/plugins/jquery-multi-select/jquery.multi-select.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/plugins/jquery-multi-select/jquery.quicksearch.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('.single-select').select2();

            $('.multiple-select').select2();

            //multiselect start

            $('#my_multi_select1').multiSelect();
            $('#my_multi_select2').multiSelect({
                selectableOptgroup: true
            });

            $('#standard_use_code').multiSelect({
                selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='搜索...'>",
                selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='搜索...'>",
                afterInit: function (ms) {
                    var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
                },
                afterSelect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                afterDeselect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                }
            });

            $('.custom-header').multiSelect({
                selectableHeader: "<div class='custom-header'>Selectable items</div>",
                selectionHeader: "<div class='custom-header'>Selection items</div>",
                selectableFooter: "<div class='custom-header'>Selectable footer</div>",
                selectionFooter: "<div class='custom-header'>Selection footer</div>"
            });


        });

    </script>

    <script>
        function check_select() {
            var input_notice_no = $(" #input_notice_no ").val()
            var input_land_location = $(" #input_land_location ").val();
            var input_date_begin = $(" #input_date_begin ").val();
            var input_date_end = $(" #input_date_end ").val();
            var input_assignment_limit = $(" #input_assignment_limit ").val();
            var input_total_area = $(" #input_total_area ").val();
            var input_construction_area = $(" #input_construction_area ").val();
            var input_plan_area = $(" #input_plan_area ").val();
            var input_floor_area_ratio = $(" #input_floor_area_ratio ").val();
            var input_building_density = $(" #input_building_density ").val();
            var input_greening_rate = $(" #input_greening_rate ").val();
            var input_business_proportion = $(" #input_business_proportion ").val();
            var input_price_begin = $(" #input_price_begin ").val();
            var input_security_deposit = $(" #input_security_deposit ").val();
            var input_notice_use = $(" #input_notice_use ").val();
            var select_region_code = $('#select_region_code option:selected').val();
            var select_assignment_method = $('#select_assignment_method option:selected').val();
            var select_plan_use_custom = $('#select_plan_use_custom option:selected').val();
            var standard_use_code = '';
            $("#standard_use_code option:selected").each(function () {
                standard_use_code = standard_use_code + $(this).text() + ';'
            });

            var state = '0';
            var input_list = {
                input_notice_no: input_notice_no,
                input_land_location: input_land_location,
                input_date_begin: input_date_begin,
                input_date_end: input_date_end,
                input_assignment_limit: input_assignment_limit,
                input_total_area: input_total_area,
                input_construction_area: input_construction_area,
                input_plan_area: input_plan_area,
                input_floor_area_ratio: input_floor_area_ratio,
                input_building_density: input_building_density,
                input_greening_rate: input_greening_rate,
                input_business_proportion: input_business_proportion,
                input_price_begin: input_price_begin,
                input_security_deposit: input_security_deposit,
                input_notice_use: input_notice_use,
            }
            var select_list = {
                select_region_code: select_region_code,
                select_assignment_method: select_assignment_method,
                select_plan_use_custom: select_plan_use_custom
            }
            if (state == '0') {
                var checkbox_state = $('#div_parcel_no').attr("hidden")
                if (checkbox_state != "hidden") {
                    var input_parcel_no = $(" #input_parcel_no ").val();
                    if (input_parcel_no == "") {
                        console.log("234")
                        $("#submit_info").html('请填写地块编号，如不为独立地块，请取消勾选框')
                        $("#submit_info").css("color", "red")
                        $('#submit_data').css('cursor', 'not-allowed')
                        state = '1'
                    }
                }
            }
            if (state == '0') {
                for (i in input_list) {
                    if (input_list[i] == "") {
                        var info = $("#label_" + i).html()
                        $("#submit_info").html('请填写' + info)
                        $("#submit_info").css("color", "red")
                        $('#submit_data').css('cursor', 'not-allowed')
                        state = '1'
                        break
                    }
                }
            }
            if (state == '0') {
                for (i in select_list) {
                    if (select_list[i] == '-1') {
                        var info = $("#label_" + i).html()
                        $("#submit_info").html('请选择' + info)
                        $("#submit_info").css("color", "red")
                        $('#submit_data').css('cursor', 'not-allowed')
                        state = '1'
                        break
                    }
                }
            }
            if (state == '0') {
                if (standard_use_code == '') {
                    $("#submit_info").html('请选择标准用途分类')
                    $("#submit_info").css("color", "red")
                    $('#submit_data').css('cursor', 'not-allowed')
                    state = '1'
                }
            }
            if (state == '0') {
                $("#submit_info").html('')
                $('#submit_data').removeAttr('style')
            }


        }
        function openNewHref() {
            var fid = $('#button_go_on').val()
            var href = '/datamanage/land_parcel_detail?fid=' + fid
            window.open(href)
        }

        function saveData() {
            var is_one = "0"
            var input_parcel_no = ""
            {#判定是否独立地块值#}
            var checkbox_state = $('#div_parcel_no').attr("hidden")
            if (checkbox_state != "hidden") {
                is_one = "1"
                input_parcel_no = $(" #input_parcel_no ").val()
                console.log("111" + input_parcel_no)
            }
            var input_notice_no = $(" #input_notice_no ").val()
            var select_region_code = $('#select_region_code option:selected').val();
            var input_land_location = $(" #input_land_location ").val();
            var input_date_begin = $(" #input_date_begin ").val();
            var input_date_end = $(" #input_date_end ").val();
            var select_assignment_method = $('#select_assignment_method option:selected').val();
            var input_assignment_limit = $(" #input_assignment_limit ").val();
            var input_total_area = $(" #input_total_area ").val();
            var input_construction_area = $(" #input_construction_area ").val();
            var input_plan_area = $(" #input_plan_area ").val();
            var input_floor_area_ratio = $(" #input_floor_area_ratio ").val();
            var input_building_density = $(" #input_building_density ").val();
            var input_greening_rate = $(" #input_greening_rate ").val();
            var input_business_proportion = $(" #input_business_proportion ").val();
            var input_price_begin = $(" #input_price_begin ").val();
            var input_security_deposit = $(" #input_security_deposit ").val();
            var input_notice_use = $(" #input_notice_use ").val();
            var select_plan_use_custom = $('#select_plan_use_custom option:selected').val();
            var standard_use_code = '';
            $("#standard_use_code option:selected").each(function () {
                standard_use_code = standard_use_code + $(this).text() + ';'
            });
            if ($('#submit_data').css('cursor') == 'not-allowed') {
                return false
            }
            else {
                $.ajax({
                        type: "GET",
                        url: "{{ url_for('datamanage.landSellAdderSave') }}",
                        data: {
                            is_one: is_one,
                            input_parcel_no: input_parcel_no,
                            input_notice_no: input_notice_no,
                            select_region_code: select_region_code,
                            input_land_location: input_land_location,
                            input_date_begin: input_date_begin,
                            input_date_end: input_date_end,
                            select_assignment_method: select_assignment_method,
                            input_assignment_limit: input_assignment_limit,
                            input_total_area: input_total_area,
                            input_construction_area: input_construction_area,
                            input_plan_area: input_plan_area,
                            input_floor_area_ratio: input_floor_area_ratio,
                            input_building_density: input_building_density,
                            input_greening_rate: input_greening_rate,
                            input_business_proportion: input_business_proportion,
                            input_price_begin: input_price_begin,
                            input_security_deposit: input_security_deposit,
                            input_notice_use: input_notice_use,
                            select_plan_use_custom: select_plan_use_custom,
                            standard_use_code: standard_use_code
                        },
                        dataType: "json",
                        success:
                            function (data) {
                                if (data.return_code == '200') {
                                    console.log('111')
                                    var fid = data.return_info
                                    if (is_one == "1"){
                                        anim5_noti(value = '保存成功！')
                                    }
                                    else {
                                        $('#modal_is_go_on_parcel').modal()
                                        {% set fid = fid %}
                                        $('#button_go_on').attr('value',fid)
                                    }

                                }
                                else if (data.return_code == '1000') {
                                    console.log(data.return_info)
                                    anim4_noti(data.return_info)
                                }
                            }
                    }
                )
                return false
            }

        }


    </script>
    <script>
        function notice_no_is_repetition() {
            $.ajax({
                type: "GET",
                url: "{{ url_for('datamanage.noticeNoIsRepetition') }}",
                data: {notice_no: $('#input_notice_no').val()},
                dataType: "json",
                success: function (data) {
                    if (data.return_code == '1000') {
                        $("<div class=\"alert alert-danger alert-dismissible\" role=\"alert\">\n" +
                            "                                <button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>\n" +
                            "                                <div class=\"alert-icon contrast-alert\">\n" +
                            "                                    <i class=\"fa fa-times\"></i>\n" +
                            "                                </div>\n" +
                            "                                <div class=\"alert-message\">\n" +
                            "                                    <span><strong>注意!</strong> 公告编号重复，请检查后输入！</span>\n" +
                            "                                </div>\n" +
                            "                            </div>").insertAfter("#input_notice_no_title");
                    }
                }
            })
        }

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log('111')
            $('#success').click(function () {
                var checkbox_state = $('#div_parcel_no').attr("hidden")
                if (checkbox_state == "hidden") {
                    $('#div_parcel_no').attr("hidden", false);
                }
                else {
                    $('#div_parcel_no').attr("hidden", true);
                }
            })
        });
    </script>
    {#自定义js函数_end#}
    <script src="{{ url_for('static',filename='assets/js/popper.min.js') }}"></script>

    <script src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}"></script>

    <!-- simplebar js -->
    <script src="{{ url_for('static',filename='assets/plugins/simplebar/js/simplebar.js') }}"></script>
    <!-- sidebar-menu js -->
    <script src="{{ url_for('static',filename='assets/js/sidebar-menu.js') }}"></script>

    <!-- Custom scripts -->

    <script src="{{ url_for('static',filename='assets/plugins/notifications/js/lobibox.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/plugins/notifications/js/notifications.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/plugins/notifications/js/notification-custom-script.js') }}"></script>

    <!--Switchery Js-->
    <script src="{{ url_for('static',filename='assets/plugins/switchery/js/switchery.min.js') }}"></script>
    <script>
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function () {
            new Switchery($(this)[0], $(this).data());
            console.log('22222')
        });
    </script>

    <!--Bootstrap Switch Buttons-->
    <script src="{{ url_for('static',filename='assets/plugins/bootstrap-switch/bootstrap-switch.min.js') }}"></script>
    <script>
        $(".bt-switch input[type='checkbox'], .bt-switch input[type='radio']").bootstrapSwitch();
        var radioswitch = function () {
            var bt = function () {
                $(".radio-switch").on("switch-change", function () {
                    $(".radio-switch").bootstrapSwitch("toggleRadioState")
                }), $(".radio-switch").on("switch-change", function () {
                    $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
                }), $(".radio-switch").on("switch-change", function () {
                    $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
                })
            };
            return {
                init: function () {
                    bt()
                }
            }
        }();
        $(document).ready(function () {
            radioswitch.init()
        });
    </script>
{% endblock %}