{% extends 'headers.html' %}
{% block detail %}
    <link href="{{ url_for('static',filename='assets/plugins/select2/css/select2.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}"
          rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='assets/plugins/jquery-multi-select/multi-select.css') }}" rel="stylesheet"
          type="text/css">

    <div class="clearfix"></div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumb-->
            <div class="row pt-2 pb-2">
                <div class="col-sm-9">
                    <h4 class="page-title">土拍数据录入</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javaScript:void();">数据管理平台</a></li>
                        <li class="breadcrumb-item active" aria-current="page">土拍录入</li>
                    </ol>
                </div>

            </div>
            <!-- End Breadcrumb-->


            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">公告信息（单位：平方米、万元、年、%）</div>
                            <hr>

                            <form>
                                <div class="form-group row" id="input_notice_no_title">
                                    <label for="input-21" class="col-sm-2 col-form-label"
                                           id="input_notice_no_key">公告编号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input_notice_no"
                                               placeholder="请输入由字母或数字组成的公告编号" onblur="checkout('input_notice_no','a1')">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input-21" class="col-sm-2 col-form-label">行政区</label>
                                    <div class="col-sm-10">
                                        <select class="form-control single-select">
                                            <option>——请选择——</option>
                                            {% for key,value in region_dict.items() %}
                                                <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="input-22" class="col-sm-2 col-form-label">土地坐落</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input-22"
                                               placeholder="请输入公告详情中的土地坐落">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="input-23" class="col-sm-2 col-form-label">公告时间</label>
                                    <div class="col-sm-10">
                                        <div id="dateragne-picker">
                                            <div class="input-daterange input-group">
                                                <input type="text" class="form-control" name="start"
                                                       placeholder="请选择起始时间"/>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">至</span>
                                                </div>
                                                <input type="text" class="form-control" name="end"
                                                       placeholder="请选择结束时间"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input-25" class="col-sm-2 col-form-label">出让方式</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input-25"
                                               placeholder="请选择出让方式">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="input-25" class="col-sm-2 col-form-label">出让年限</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input-25"
                                               placeholder="请输入出让年限">
                                    </div>
                                </div>
                                <div class="form-group row" id="input_total_area_title">
                                    <label for="input-25" class="col-sm-2 col-form-label" id="input_total_area_key">总面积</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input_total_area"
                                               placeholder="请输入总面积" onblur="checkout('input_total_area','a1')">
                                    </div>
                                </div>
                                <div class="form-group row" id="input_plan_area_title input_plan_con_title">
                                    <label for="input-25" class="col-sm-2 col-form-label" id="input_">建设用地面积</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input_plan_con"
                                               placeholder="请输入建设用地面积">
                                    </div>
                                    <label for="input-25" class="col-sm-2 col-form-label" id="input_plan_area_key">规划建筑面积</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input_plan_area"
                                               placeholder="请输入规划建筑面积" onblur="checkout('input_plan_area','a1')">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input-25" class="col-sm-2 col-form-label">容积率</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-25"
                                               placeholder="请输入容积率">
                                    </div>
                                    <label for="input-25" class="col-sm-2 col-form-label">建筑密度</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-25"
                                               placeholder="请输入建筑密度">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input-25" class="col-sm-2 col-form-label">绿化率</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-25"
                                               placeholder="请输入绿化率">
                                    </div>
                                    <label for="input-25" class="col-sm-2 col-form-label">商业比例</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="input-25"
                                               placeholder="请输入商业比例">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input-24" class="col-sm-2 col-form-label">公告用途</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input-24"
                                               placeholder="请输入公告用途">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="input-24" class="col-sm-2 col-form-label">统计用途分类</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input-24"
                                               placeholder="请选择统计用途分类">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="input-25" class="col-sm-2 col-form-label">标准分类</label>
                                    <div class="col-sm-10">
                                        <div class="card">
                                            <div class="card-header text-uppercase">多选用途</div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-group">
                                                        <select name="country" class="multi-select" multiple="multiple"
                                                                id="my_multi_select3">
                                                            <option value="AF">二类居住用地</option>
                                                            <option value="AL">商业用地</option>
                                                            <option value="DZ">工业用地</option>
                                                            <option value="AS">物流仓储用地</option>
                                                            <option value="AD">道路用地</option>
                                                            <option value="AO">其他用地</option>
                                                        </select>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary px-5">
                                                    提交
                                                </button>
                                            </div>
                                        </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div><!--End Row-->

        </div>
        <!-- End container-fluid-->

    </div><!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
{% endblock %}
{% block script %}
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    {#    <script src="{{ url_for('static',filename='assets/js/popper.min.js') }}"></script>#}
    <script src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}"></script>

    <!-- simplebar js -->
    <script src="{{ url_for('static',filename='assets/plugins/simplebar/js/simplebar.js') }}"></script>
    <!-- sidebar-menu js -->
    <script src="{{ url_for('static',filename='assets/js/sidebar-menu.js') }}"></script>

    <!-- Custom scripts -->
    <script src="{{ url_for('static',filename='assets/js/app-script.js') }}"></script>

    <!--Bootstrap Touchspin Js-->
    <script src="{{ url_for('static',filename='assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/plugins/bootstrap-touchspin/js/bootstrap-touchspin-script.js') }}"></script>

    <!--Select Plugins Js-->
    <script src="{{ url_for('static',filename='assets/plugins/select2/js/select2.min.js') }}"></script>
    <!--Inputtags Js-->
    <script src="{{ url_for('static',filename='assets/plugins/inputtags/js/bootstrap-tagsinput.js') }}"></script>

    <script src="{{ url_for('static',filename='assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <script>
        $('#default-datepicker').datepicker({
            todayHighlight: true
        });
        $('#autoclose-datepicker').datepicker({
            autoclose: true,
            todayHighlight: true
        });

        $('#inline-datepicker').datepicker({
            todayHighlight: true
        });

        $('#dateragne-picker .input-daterange').datepicker({});

    </script>

    <script src="{{ url_for('static',filename='assets/plugins/jquery-multi-select/jquery.multi-select.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/plugins/jquery-multi-select/jquery.quicksearch.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('.single-select').select2();

            $('.multiple-select').select2();

            //multiselect start

            $('#my_multi_select1').multiSelect();
            $('#my_multi_select2').multiSelect({
                selectableOptgroup: true
            });

            $('#my_multi_select3').multiSelect({
                selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='搜索...'>",
                selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='搜索...'>",
                afterInit: function (ms) {
                    var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
                },
                afterSelect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                afterDeselect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                }
            });

            $('.custom-header').multiSelect({
                selectableHeader: "<div class='custom-header'>Selectable items</div>",
                selectionHeader: "<div class='custom-header'>Selection items</div>",
                selectableFooter: "<div class='custom-header'>Selectable footer</div>",
                selectionFooter: "<div class='custom-header'>Selection footer</div>"
            });


        });

    </script>

    <script>
        function checkout(type, limit) {
            var input_value = $("#" + type).val()
            console.log('log:' + input_value + type)
            if (limit == 'a1') {
                {#var new_input_value=RegExp(input_value)#}
                if (!/[0-9A-Za-z]+/.test(input_value)) {
                    var key = $("#" + type + '_key').val()
                    {#alert(key + '只允许字母和数字！')#}
                    var title=type+"_title"
                    console.log(title)
                    $("<div class=\"alert alert-danger alert-dismissible\" role=\"alert\">\n" +
                        "                                <button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>\n" +
                        "                                <div class=\"alert-icon contrast-alert\">\n" +
                        "                                    <i class=\"fa fa-times\"></i>\n" +
                        "                                </div>\n" +
                        "                                <div class=\"alert-message\">\n" +
                        "                                    <span><strong>注意!</strong> 此处只允许输入字母和数字!</span>\n" +
                        "                                </div>\n" +
                        "                            </div>").insertAfter("#"+title);
                }
            }
        }
    </script>
{% endblock %}