{#acea3c2ef8fb5f6e779b1ea33be368ab  107.943579, 30.131735#}
{#可以添加一个自定义变量表示状态，在绘图完成后修改其值，进行其他操作时可以先验证其值#}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
        }
    </style>
    <title>地块位置查看</title>
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=acea3c2ef8fb5f6e779b1ea33be368ab&plugin=AMap.MouseTool"></script>
    <script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    <style>
        html, body, #container {
            height: 100%;
            width: 100%;
        }

        .custom-input-card {
            width: 18rem;
        }

        .custom-input-card .btn:last-child {
            margin-left: 1rem;
        }

        .content-window-card {
            position: relative;
            width: 23rem;
            padding: 0.75rem 0 0 1.25rem;
            box-shadow: none;
            bottom: 0;
            left: 0;
        }

        .content-window-card p {
            height: 2rem;
        }
    </style>
</head>
<body>
<div id="container"></div>
 <div class="info">
    <div class="input-item">
      <div class="input-item-prepend">
        <span class="input-item-text" style="width:10rem;">请输入公告编号</span>
      </div>
      <input id='input' type="text" value='北京' >
    </div>
    <p><span id="input-info"></span></p>
  </div>
<div class="input-card" style="width: 200px">
    <input type="hidden" value="{{ notice_fid }}"
           id="notice_fid">
    <h4 style="margin-bottom: 10px; font-weight: 600">图层管理</h4>
    <button class="btn" id="add-satellite-layer" style="margin-bottom: 5px">添加卫星图层</button>
    <button class="btn" id="remove-satellite-layer" style="margin-bottom: 5px">删除卫星图层</button>


</div>

<script type="text/javascript">
    var notice_fid = $('#notice_fid').val()

    //声明中心点坐标
    var center = '';
    var highlight_data = '';
    var normal_data = '';
    var zoom = '';


    //异步加载数据,请求到数据，先不添加到界面
    $.ajax({
        type: "GET",
        async: false,
        url: "{{ url_for('wechat.apiMapGaodeParcel') }}",
        data: {
            notice_fid: notice_fid,
        },
        dataType: "json",
        success:
            function (data) {
                //取出数据高亮和普通的分别显示不同的样式
                if (data.return_code == '200') {
                    if (data.return_info['highlight'] != '') {
                        center = data.return_info['highlight'][0][4]
                        highlight_data = data.return_info['highlight']
                        normal_data = data.return_info['normal']
                        zoom=17
                    }
                    else {
                        alert('该公告没有找到对应的图形！请绘制')
                        center = [106.577053,29.557276]
                        normal_data = data.return_info['normal']
                        zoom=10
                    }
                }

            }
    })

    //原代码
    var map = new AMap.Map("container", {
        center: center,
        zoom: 17,
        mapStyle:'amap://styles/5498668a794b8e78dfaac90cae7dd32c',
        opacity:0.1
    });

    // 构造官方卫星、路网图层
    var satelliteLayer = new AMap.TileLayer.Satellite({
        opacity:0.7
    });


    //批量添加图层
    map.add([satelliteLayer]);


    //信息窗体
    var infoWindow = new AMap.InfoWindow();

    //2.普通数据
    for (i in normal_data) {
        console.log(normal_data)
        var path = normal_data[i][5]
        console.log(path)
        var polygon = new AMap.Polygon({
            path: path,
            strokeColor: "#3b5998",
            strokeWeight: 6,
            strokeOpacity: 0.2,
            fillOpacity: 0.4,
            fillColor: '#1791fc',
            zIndex: 50,
        })

        polygon.setExtData(normal_data[i][4])
        var info = [];
        info.push("<div class='input-card content-window-card'><div><img style=\"float:left;\" src=\" https://webapi.amap.com/images/autonavi.png \"/></div> ");
        info.push("<div style=\"padding:7px 0px 0px 0px;\"><h4>赛信不动产资讯</h4>");
        info.push("<p class='input-item'>公告编号：" + normal_data[i][0] + "</p>");
        info.push("<p class='input-item'>地块编号：" + normal_data[i][1] + "</p>");
        info.push("<p class='input-item'>用途：" + normal_data[i][2] + "</p>");
        info.push("<p class='input-item'>地块面积：" + normal_data[i][3] + "平方米（㎡）</p></div></div>");
        polygon.content = info.join("")
        polygon.on('click', markerClick);
        polygon.emit('click', {target: polygon});
        map.add(polygon)
    }

    //添加异步数据到图层
    //1.高亮数据
    for (i in highlight_data) {
        var path = highlight_data[i][5]
        var polygon = new AMap.Polygon({
            path: path,
            bubble:true,
            strokeColor: "#3b5998",
            strokeWeight: 6,
            strokeOpacity: 0.2,
            fillOpacity: 0.4,
            fillColor: '#ef2e2e',
            zIndex: 50,
        })

        polygon.setExtData(highlight_data[i][4])
        var info = [];
        info.push("<div class='input-card content-window-card'><div><img style=\"float:left;\" src=\" https://webapi.amap.com/images/autonavi.png \"/></div> ");
        info.push("<div style=\"padding:7px 0px 0px 0px;\"><h4>赛信不动产资讯</h4>");
        info.push("<p class='input-item'>公告编号：" + highlight_data[i][0] + "</p>");
        info.push("<p class='input-item'>地块编号：" + highlight_data[i][1] + "</p>");
        info.push("<p class='input-item'>用途：" + highlight_data[i][2] + "</p>");
        info.push("<p class='input-item'>地块面积：" + highlight_data[i][3] + "</p></div></div>");
        polygon.content = info.join("")
        polygon.on('click', markerClick);
        polygon.emit('click', {target: polygon});
        console.log()
        map.add(polygon)
    }


    //信息窗体

    function markerClick(e) {
        infoWindow.setContent(e.target.content);
        infoWindow.open(map, e.target.getExtData());
    }

    {#map.setFitView();#}
    infoWindow.close()


    //事件绑定
    document.querySelector("#add-satellite-layer").onclick = function () {
        map.add(satelliteLayer);
    }
    document.querySelector("#remove-satellite-layer").onclick = function () {
        map.remove(satelliteLayer);
    }
    console.log(map.getBounds())

    var mouseTool = new AMap.MouseTool(map)


</script>
</body>
</html>


