<!DOCTYPE html>
<html style="overflow-x: hidden;">
<head>
    <meta charset="utf-8">

    <!--如果是IE 就以标准渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- 视窗——————响应式布局 -->
    <meta name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0'>

    <!--当前页面的三要素-->
    <title>赛信不动产资讯-土交信息</title>
    <meta name="description" content="关键词、关键字">
    <meta name="keywords" content="描述">

    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>

    <!-- 引入CSS文件 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='wechat/css/index.css') }}">

    <!-- 公共样式 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='wechat/css/common.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='wechat/css/time.css') }}">

    <link rel="icon" href="{{ url_for('static',filename='assets/images/favicon.ico') }}" type="image/x-icon">
    <!-- simplebar CSS-->
    <link href="{{ url_for('static',filename='assets/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <!-- animate CSS-->
    <link href="{{ url_for('static',filename='assets/css/animate.css') }}" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link href="{{ url_for('static',filename='assets/css/icons.css') }}" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link href="{{ url_for('static',filename='assets/css/sidebar-menu.css') }}" rel="stylesheet"/>
    <!-- Custom Style-->
    <link href="{{ url_for('static',filename='assets/css/app-style.css') }}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <style type="text/css">


        .headv {
            position: fixed;
            top: 0;
            width: 750px;
            z-index: 10;
        }

        .headv > div {
            float: left;
            padding: 20px;
            cursor: pointer;
            width: 250px;
            text-align:center;
            font-size:18px;
            color: #305880;
        }

        .headv-check {
            border-bottom: 1px solid red;
        }
    </style>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

    <style>

    </style>
</head>

<body style="overflow-x: hidden;">

<div id='container' class='container' style="padding-left: 0px;padding-right: 0px">


    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- 轮播图片 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://static.runoob.com/images/mix/img_fjords_wide.jpg">
            </div>
            <div class="carousel-item">
                <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg">
            </div>
            <div class="carousel-item">
                <img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg">
            </div>
        </div>

        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
    <!--监听导航-->

        <div class="x12 headv">

            <div>土交地图</div>
            <div>风云榜</div>
            <div>即时资讯</div>


    </div>
    <!--监听导航end-->
    <!--监听内容-->
    <div class="x12 nav-list">
        <div class="nav1 x12">
            <div id="accordion1">
                <div class="card mb-2">
                    <div class="card-header">
                        <button class="btn btn-link shadow-none" data-toggle="collapse" data-target="#collapse-1"
                                aria-expanded="true" aria-controls="collapse-1"
                                style="font-size: 1.20rem">
                            土交地图
                        </button>
                    </div>

                    <div id="collapse-1" class="collapse show" data-parent="#accordion1">
                        <div class="card-body">
                            <div class="card-title text-uppercase">
                                <i aria-hidden="true" class="fa fa-map" style="color: #3b5998"></i>&ensp; 重庆市土交信息地图
                            </div>
                            <div class="row">
                                <div class="col-sm-12"
                                     style="width: 100%;height: 450px;padding: 10px;border: 1px solid #e3e3e3;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);">
                                    <div id="map" style="height: 100%"></div>
                                    <script type="text/javascript"
                                            src="{{ url_for('static',filename='echarts/echarts.js') }}"></script>
                                    <!-- 引用echarts 3.0版本 -->
                                    <script type="text/javascript"
                                            src="{{ url_for('static',filename='echarts/chongqing.js') }}"></script>
                                    <!-- 引用自定义市县地图 -->
                                    <script type="text/javascript">
                                        //初始化ECharts实例
                                        var myChart = echarts.init(document.getElementById('map'));
                                        var option = {
                                            title: {
                                                {#text: '重庆市土交信息地图',#}
                                                subtext: '统计时间：2020年1月-2020年2月',
                                            },

                                            tooltip: {
                                                trigger: 'item',
                                                formatter: function (params) {
                                                    var res = '';
                                                    res += params['data'].name + '</br>';
                                                    {#res += '用户数' + ' : ' + params['data'].value2 + '</br>';#}
                                                    return res;
                                                }
                                                //formatter: '{b}<br/>{c}'
                                            },//鼠标放在地图上时，显示的内容及样式控制

                                            visualMap: {
                                                show: true,//色系条是否显示
                                                min: 0,
                                                max: 45000,//取其区间值就代表色系inRange中的一种颜色
                                                right: 'right',
                                                top: 'bottom',
                                                text: ['高', '低'], // 文本，默认为数值文本
                                                calculable: true,
                                                inRange: {
                                                    color: ['#42a8be', '#00a69c', '#95ea95'],//上色范围
                                                }

                                            },//给地图上色

                                            series: [{
                                                name: '重庆市',
                                                type: 'map',
                                                mapType: 'chongqing',
                                                selectedMode: 'single',
                                                zoom: 1.2, //当前视角的缩放比例
                                                roam: true, //是否开启平游或缩放
                                                scaleLimit: { //滚轮缩放的极限控制
                                                    min: 1,
                                                    max: 3
                                                },
                                                label: {
                                                    normal: {show: true},
                                                    emphasis: {show: true}
                                                },
                                                itemStyle: {
                                                    normal: {
                                                        borderColor: '#fff',
                                                        areaColor: '#FFFAFA',
                                                        borderWidth: 2,
                                                    },//正常样式
                                                    emphasis: {
                                                        areaColor: 'red',
                                                        borderWidth: 1,
                                                        borderColor: 'yellow',
                                                    }//鼠标事件区块样式
                                                },
                                                data: [
                                                    {
                                                        name: '渝中区',
                                                        value: 40500,
                                                        value2: 1024,
                                                        href: 'http://www.baidu.com'
                                                    },
                                                    {
                                                        name: '万州区',
                                                        value: 23000,
                                                        value2: 1024,
                                                        href: 'http://www.baidu.com'
                                                    },
                                                    {name: '涪陵区', value: 23000, value2: 1024},
                                                    {name: '江津区', value: 23000, value2: 1024},
                                                    {name: '合川区', value: 23000, value2: 1024},
                                                    {name: '长寿区', value: 23000, value2: 100},
                                                    {name: '南川区', value: 0, value2: 100},
                                                    {name: '秀山土家族苗族自治县', value: 0, value2: 100},
                                                    {name: '石柱土家族自治县', value: 0, value2: 100},
                                                    {name: '酉阳土家族苗族自治县', value: 0, value2: 100},
                                                    {name: '彭水苗族土家族自治县', value: 0, value2: 100},
                                                    {name: '巫溪县', value: 0, value2: 100},
                                                    {name: '巫山县', value: 0, value2: 100},
                                                    {name: '奉节县', value: 0, value2: 100},
                                                    {name: '云阳县', value: 0, value2: 100},
                                                    {name: '开州区', value: 0, value2: 100},
                                                    {name: '忠县', value: 0, value2: 100},
                                                    {name: '武隆区', value: 0, value2: 100},
                                                    {name: '垫江县', value: 0, value2: 100},
                                                    {name: '丰都县', value: 0, value2: 100},
                                                    {name: '城口县', value: 0, value2: 100},
                                                    {name: '梁平区', value: 0, value2: 100},
                                                    {name: '璧山区', value: 0, value2: 100},
                                                    {name: '荣昌区', value: 0, value2: 100},
                                                    {name: '大足区', value: 0, value2: 100},
                                                    {name: '铜梁区', value: 0, value2: 100},
                                                    {name: '潼南区', value: 0, value2: 100},
                                                    {name: '綦江区', value: 0, value2: 100},
                                                    {name: '长寿区', value: 0, value2: 100},
                                                    {name: '黔江区', value: 23000, value2: 100},
                                                    {name: '巴南区', value: 0, value2: 100},
                                                    {name: '渝北区', value: 0, value2: 100},
                                                    {name: '万盛区', value: 0, value2: 100},
                                                    {name: '北碚区', value: 0, value2: 100},
                                                    {name: '南岸区', value: 0, value2: 100},
                                                    {name: '九龙坡区', value: 0, value2: 100},
                                                    {name: '沙坪坝区', value: 0, value2: 100},
                                                    {name: '江北区', value: 0, value2: 100},
                                                    {name: '大渡口区', value: 0, value2: 100},
                                                    {name: '渝中区', value: 23000, value2: 100},
                                                    {name: '永川区', value: 23000, value2: 100},
                                                ],//value的值是上面visualMap属性中设置的颜色色系区间的值，即0~45000
                                                label: {
                                                    normal: {
                                                        show: true,
                                                        formatter: function (val) {
                                                            var area_content = '{a|' + val.name.slice(0, 2) + '}';
                                                            return area_content.split("-").join("\n");
                                                        },//让series 中的文字进行换行
                                                        rich: {
                                                            a: {
                                                                color: 'black'
                                                            },
                                                            b: {
                                                                color: 'yellow',
                                                                fontFamily: 'Microsoft YaHei',
                                                                fontSize: 14,
                                                            }
                                                        },//富文本样式,就是上面的formatter中'{a|'和'{b|'
                                                    },
                                                    emphasis: {show: true}
                                                },//地图中文字内容及样式控制
                                            }]
                                        };
                                        console.log(option)
                                        myChart.setOption(option, true);
                                        myChart.on('click', function (params) {
                                            var region_name = params['data'].name
                                            var html_text = '<h6>' + region_name + '</h6>'
                                            console.log(params);//此处写点击事件内容
                                            $.ajax({
                                                type: "GET",
                                                url: "{{ url_for('admin.hrefLibRegionData') }}",
                                                data: {region_name: region_name},
                                                dataType: "json",
                                                success:
                                                    function (data) {
                                                        console.log(data.return_code)
                                                        console.log(data.return_info[region_name])
                                                        if (data.return_code == '200') {

                                                            for (i in data.return_info[region_name]) {
                                                                var key = Object.keys(data.return_info[region_name][i])
                                                                html_text += '<div class="icon" data-code="f111" data-name="balance-wallet">'
                                                                html_text += '<a href=' + data.return_info[region_name][i][key] + ' target="_blank">'
                                                                html_text += '<i class="zmdi zmdi-balance-wallet"></i>'
                                                                html_text += '<span >' + key + '</span></a >'
                                                                html_text += '</div>'
                                                            }
                                                            $("#clicked_region").html(html_text)
                                                        }
                                                    }


                                            })
                                        })
                                        ;//点击事件，此事件还可以用到柱状图等其他地图
                                    </script>
                                </div>
                            </div>
                            <hr>
                            <div class="card-title text-uppercase">
                                <i aria-hidden="true" class="fa fa-table" style="color: #3b5998"></i>&ensp;重庆市行政区土交情况
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-sm-12"
                                     style="width: 100%;height: 450px;padding: 10px;border: 1px solid #e3e3e3;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);">
                                    <div class="china table_pro">
                                        <div class="title">
                                            <span class="t_area">地区</span>
                                            <span class="t_confirm">公告</span>
                                            <span class="t_dead">成交</span>
                                            <span class="t_heal">平均地价</span>
                                        </div>
                                        <ul class="content">
                                            <li class="c_line">
                                                <div class="line_first">
                                                    <span class="c_area" style="text-align:center;">重庆市</span>
                                                    <span class="c_confirm">20623</span>
                                                    <span class="c_dead">427</span>
                                                    <span class="c_heal">657</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            {#                            <div class="row" style="margin-top: 5px">#}
                            {#                                <button type="button" class="btn btn-light btn-square waves-effect waves-light m-1">#}
                            {#                                    本月#}
                            {#                                </button>#}
                            {#                                <button type="button" class="btn btn-light btn-square waves-effect waves-light m-1">#}
                            {#                                    上月#}
                            {#                                </button>#}
                            {#                                <button type="button" class="btn btn-light btn-square waves-effect waves-light m-1">#}
                            {#                                    上年#}
                            {#                                </button>#}
                            {#                            </div>#}
                            <hr>
                            <div class="card-title text-uppercase">
                                <i aria-hidden="true" class="fa fa-area-chart" style="color: #3b5998"></i>&ensp;土地出让与成交走势
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-sm-12"
                                     style="width: 100%;height: 300px;padding: 10px;border: 1px solid #e3e3e3;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);">

                                    <div id="main" style="width: 100%;height:100%;"></div>
                                    <script type="text/javascript">
                                        // 基于准备好的dom，初始化echarts实例
                                        var myChart = echarts.init(document.getElementById('main'));
                                        window.onresize = myChart.resize;

                                        // 指定图表的配置项和数据
                                        var option = {
                                            title: {
                                                {#text: '出让与成交走势'#}
                                                {#subtext: '统计时间：2020年1月-2020年2月'#}
                                            },
                                            tooltip: {
                                                trigger: 'axis'
                                            },
                                            legend: {
                                                {#y: 'bottom',#}
                                                data: ['主城区出让', '主城区成交', '', '区县出让', '区县成交']
                                            },
                                            grid: {
                                                left: '3%',
                                                right: '4%',
                                                bottom: '3%',
                                                containLabel: true
                                            },
                                            toolbox: {
                                                feature: {
                                                    saveAsImage: {}
                                                }
                                            },

                                            xAxis: {
                                                type: 'category',
                                                boundaryGap: false,
                                                data: ['2019/09', '2019/10', '2019/11', '2019/12', '2020/01', '2020/02', '2020/03']
                                            },
                                            yAxis: {
                                                type: 'value'
                                            },
                                            series: [

                                                {
                                                    name: '主城区出让',
                                                    type: 'line',
                                                    stack: '总量',
                                                    data: [120, 132, 101, 134, 90, 230, 210]
                                                },
                                                {
                                                    name: '主城区成交',
                                                    type: 'line',
                                                    stack: '总量',
                                                    data: [220, 182, 191, 234, 290, 330, 310]
                                                },
                                                {
                                                    name: '区县出让',
                                                    type: 'line',
                                                    stack: '总量',
                                                    data: [320, 332, 301, 334, 390, 330, 320]
                                                },
                                                {
                                                    name: '区县成交',
                                                    type: 'line',
                                                    stack: '总量',
                                                    data: [820, 932, 901, 934, 1290, 1330, 1320]
                                                }

                                            ]
                                        };


                                        // 使用刚指定的配置项和数据显示图表。
                                        myChart.setOption(option);
                                    </script>
                                </div>
                            </div>
                            <hr>
                            <div class="card-title text-uppercase">
                                <i aria-hidden="true" class="fa  fa-pie-chart" style="color: #3b5998"></i>&ensp;土地用途面积占比
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-sm-12"
                                     style="width: 100%;height: 450px;padding: 10px;border: 1px solid #e3e3e3;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);">

                                    <div id="trend" style="width: 100%;height:100%;"></div>
                                    <script type="text/javascript">
                                        // 基于准备好的dom，初始化echarts实例
                                        var myChart = echarts.init(document.getElementById('trend'));
                                        window.onresize = myChart.resize;

                                        // 指定图表的配置项和数据
                                        var option = {
                                            title: {
                                                {#text: '土地用途面积占比'#}
                                                subtext: '统计时间：2020年1月-2020年2月'

                                            },
                                            tooltip: {
                                                trigger: 'item',
                                                formatter: '{a} <br/>{b}: {c} ({d}%)'
                                            },
                                            legend: {
                                                {#orient: 'vertical',#}
                                                left: 10,
                                                bottom: 1,
                                                data: ['主城', '区县', '主城-住宅用地', '主城-商业用地', '主城-其他用地', '区县-住宅用地', '区县-商业用地', '区县-其他用地']
                                            },
                                            series: [
                                                {
                                                    name: '访问来源',
                                                    type: 'pie',
                                                    selectedMode: 'single',
                                                    radius: [0, '30%'],

                                                    label: {
                                                        position: 'inner'
                                                    },
                                                    labelLine: {
                                                        show: false
                                                    },
                                                    data: [
                                                        {value: 1335, name: '主城'},
                                                        {value: 679, name: '区县'},
                                                    ]
                                                },
                                                {
                                                    name: '访问来源',
                                                    type: 'pie',
                                                    radius: ['40%', '55%'],
                                                    label: {
                                                        formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                                                        backgroundColor: '#eee',
                                                        borderColor: '#aaa',
                                                        borderWidth: 1,
                                                        borderRadius: 4,
                                                        // shadowBlur:3,
                                                        // shadowOffsetX: 2,
                                                        // shadowOffsetY: 2,
                                                        // shadowColor: '#999',
                                                        // padding: [0, 7],
                                                        rich: {
                                                            a: {
                                                                color: '#999',
                                                                lineHeight: 22,
                                                                align: 'center'
                                                            },
                                                            // abg: {
                                                            //     backgroundColor: '#333',
                                                            //     width: '100%',
                                                            //     align: 'right',
                                                            //     height: 22,
                                                            //     borderRadius: [4, 4, 0, 0]
                                                            // },
                                                            hr: {
                                                                borderColor: '#aaa',
                                                                width: '100%',
                                                                borderWidth: 0.5,
                                                                height: 0
                                                            },
                                                            b: {
                                                                fontSize: 16,
                                                                lineHeight: 33
                                                            },
                                                            per: {
                                                                color: '#eee',
                                                                backgroundColor: '#334455',
                                                                padding: [2, 4],
                                                                borderRadius: 2
                                                            }
                                                        }
                                                    },
                                                    data: [
                                                        {value: 335, name: '主城-住宅用地'},
                                                        {value: 500, name: '主城-商业用地'},
                                                        {value: 500, name: '主城-其他用地'},
                                                        {value: 200, name: '区县-住宅用地'},
                                                        {value: 200, name: '区县-商业用地'},
                                                        {value: 279, name: '区县-其他用地'},
                                                    ]
                                                }
                                            ]
                                        };


                                        // 使用刚指定的配置项和数据显示图表。
                                        myChart.setOption(option);
                                    </script>
                                </div>
                            </div>
                            <hr>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="nav2 x12">
            <div class="card mb-2">
                <div class="card-header">
                    <button class="btn btn-link shadow-none collapsed" data-toggle="collapse"
                            data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2"
                            style="font-size: 1.20rem">
                        风云榜
                    </button>
                </div>
                <div id="collapse-2" class="collapse show" data-parent="#accordion1">
                    <div class="card-body">
                        <div class="card-title text-uppercase">
                            <i aria-hidden="true" class="fa fa-map" style="color: #3b5998"></i>&ensp; 重庆市区县土地成交单价排行榜
                        </div>
                        <div class="row">
                            <div class="col-sm-12"
                                 style="width: 100%;height: 450px;padding: 10px;border: 1px solid #e3e3e3;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);">
                                <div id="map_1" style="height: 100%"></div>
                                <script type="text/javascript"
                                        src="{{ url_for('static',filename='echarts/echarts.js') }}"></script>
                                <!-- 引用echarts 3.0版本 -->
                                <script type="text/javascript"
                                        src="{{ url_for('static',filename='echarts/chongqing.js') }}"></script>
                                <!-- 引用自定义市县地图 -->
                                <script type="text/javascript">
                                    //初始化ECharts实例
                                    var myChart = echarts.init(document.getElementById('map_1'));
                                    var data = [
                                        [5000, 10000, 6785.71],
                                        [4500, 9500, 6425],
                                        [4000, 9000, 6825],
                                        [3000, 6500, 4463.33],
                                        [2500, 5600, 3793.83],
                                        [2000, 4000, 3060],
                                        [2000, 4000, 3222.33],
                                        [2500, 4000, 3133.33],
                                        [1800, 4000, 3100],
                                        [2000, 3500, 2750],
                                        [2000, 3000, 2500],
                                        [1800, 3000, 2433.33],
                                        [2000, 2700, 2375],
                                        [1500, 2800, 2150],
                                        [1500, 2300, 2100],
                                        [1600, 3500, 2057.14],
                                        [1500, 2600, 2037.5],
                                        [1500, 2417.54, 1905.85],
                                        [1500, 2000, 1775],
                                        [1500, 1800, 1650]
                                    ];
                                    var cities = ['两江新区', '江北', '渝中', '沙坪坝', '南岸', '九龙坡', '大渡口', '巴南', '北碚', '江津', '璧山', '涪陵', '万州', '长寿', '永川', '合川', '铜梁', '黔江', '荣昌'];
                                    var barHeight = 50;

                                    option = {
                                        title: {
                                            {#text: '在中国租个房子有多贵？',#}
                                            subtext: '全重庆均价前二十的区县'
                                        },
                                        legend: {
                                            show: true,
                                            orient: 'vertical',
                                            left: 10,
                                            bottom: 20,
                                            data: ['价格范围', '均值']
                                        },
                                        grid: {
                                            top: 100
                                        },
                                        angleAxis: {
                                            type: 'category',
                                            data: cities
                                        },
                                        tooltip: {
                                            show: true,
                                            formatter: function (params) {
                                                var id = params.dataIndex;
                                                return cities[id] + '<br>最低：' + data[id][0] + '<br>最高：' + data[id][1] + '<br>平均：' + data[id][2];
                                            }
                                        },
                                        radiusAxis: {},
                                        polar: {},
                                        series: [{
                                            type: 'bar',
                                            itemStyle: {
                                                color: 'transparent'
                                            },
                                            data: data.map(function (d) {
                                                return d[0];
                                            }),
                                            coordinateSystem: 'polar',
                                            stack: '最大最小值',
                                            silent: true
                                        }, {
                                            type: 'bar',
                                            data: data.map(function (d) {
                                                return d[1] - d[0];
                                            }),
                                            coordinateSystem: 'polar',
                                            name: '价格范围',
                                            stack: '最大最小值'
                                        }, {
                                            type: 'bar',
                                            itemStyle: {
                                                color: 'transparent'
                                            },
                                            data: data.map(function (d) {
                                                return d[2] - barHeight;
                                            }),
                                            coordinateSystem: 'polar',
                                            stack: '均值',
                                            silent: true,
                                            z: 10
                                        }, {
                                            type: 'bar',
                                            data: data.map(function (d) {
                                                return barHeight * 2;
                                            }),
                                            coordinateSystem: 'polar',
                                            name: '均值',
                                            stack: '均值',
                                            barGap: '-100%',
                                            z: 10
                                        }]
                                    };


                                    myChart.setOption(option);
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse-2" class="collapse show" data-parent="#accordion1">
                    <div class="card-body">
                        <div class="card-title text-uppercase">
                            <i aria-hidden="true" class="fa fa-map" style="color: #3b5998"></i>&ensp; TOP10榜单
                        </div>
                        <div class="row">
                            <div class="col-sm-12"
                                 style="width: 100%;height: 500px;padding: 10px;border: 1px solid #e3e3e3;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);">
                                {#                                    <div class="row">#}
                                {#                                        <div class="col-sm-12">#}
                                {#                                            <div class="pricing-table">#}
                                {#                                                <div class="card">#}
                                {#                                                    <div class="card-body text-center">#}
                                {#                                                        <div class="price-title">PERSONAL</div>#}
                                {#                                                        <h2 class="price text-info">#}
                                {#                                                            <small class="currency">$</small>#}
                                {#                                                            199#}
                                {#                                                        </h2>#}
                                {#                                                        <ul class="list-group list-group-flush">#}
                                {#                                                            <li class="list-group-item"><b>4 GB</b> Ram</li>#}
                                {#                                                            <li class="list-group-item"><b>80 GB</b> Disk Space</li>#}
                                {#                                                            <li class="list-group-item">Monthly Backups</li>#}
                                {#                                                            <li class="list-group-item">Email Support</li>#}
                                {#                                                            <li class="list-group-item">24X7 Support</li>#}
                                {#                                                        </ul>#}
                                {#                                                        <a href="javascript:void();"#}
                                {#                                                           class="btn btn-primary my-3 btn-round">查看更多</a>#}
                                {#                                                    </div>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {##}
                                {#                                    </div>#}
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="pricing-table">
                                                        <div class="card">
                                                            <div class="card-body text-center">
                                                                <div class="price-title">PERSONAL</div>
                                                                <h2 class="price text-info">
                                                                    <small class="currency">$</small>
                                                                    199
                                                                </h2>
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item"><b>4 GB</b> Ram</li>
                                                                    <li class="list-group-item"><b>80 GB</b> Disk
                                                                        Space
                                                                    </li>
                                                                    <li class="list-group-item">Monthly Backups</li>
                                                                    <li class="list-group-item">Email Support</li>
                                                                    <li class="list-group-item">24X7 Support</li>
                                                                </ul>
                                                                <a href="javascript:void();"
                                                                   class="btn btn-primary my-3 btn-round">查看更多</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-slide">Slide 2</div>
                                        <div class="swiper-slide">Slide 3</div>
                                        <div class="swiper-slide">Slide 4</div>
                                        <div class="swiper-slide">Slide 5</div>
                                        <div class="swiper-slide">Slide 6</div>
                                        <div class="swiper-slide">Slide 7</div>
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-pagination"></div>

                                </div>
                                <script>
                                    var swiper = new Swiper('.swiper-container', {
                                        pagination: {
                                            el: '.swiper-pagination',
                                        },
                                    });
                                </script>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav3 x12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-link shadow-none collapsed" data-toggle="collapse"
                            data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3"
                            style="font-size: 1.20rem">
                        即时资讯
                    </button>
                </div>
                <div id="collapse-3" class="collapse show" data-parent="#accordion1">
                    <div class="card-body">
                        <div class="timeline-item" date-is='2020-03-09 16:49'>
                            <h5>重庆市渝北区XXX号地块出让公告</h5>
                            <p style="font-size: 14px">
                                渝北区古路镇组团A分区A11-4/02、A12-1/02地块(公告序号：G20010)公开出让公告，重庆市公共资源交易中心(重庆联合产权交易所集团股份有限公司）土地和资源交易分中心联系地址：重庆市渝北区青枫北路6号渝兴广场B9、B10栋，联系人：王先生，联系电话：63628117。

                            </p>
                            <p style="float: right;font-size: 10px">数据来源：重庆市公共资源交易网&emsp;<a href="#">查看详情</a>
                            </p>
                        </div>

                        <div class="timeline-item" date-is='2020-03-05 13:49'>
                            <h5>重庆市住建委颁布XXX条例</h5>
                            <p style="font-size: 14px">
                                I'm speaking with myself, number one, because I have a very good brain and I've
                                said
                                a lot of things. I write the best placeholder text, and I'm the biggest
                                developer on
                                the web by far... While that's mock-ups and this is politics, are they really so
                                different? I think the only card she has is the Lorem card.
                            </p>
                            <p style="float: right;font-size: 10px">数据来源：重庆市城乡建设委员会官网&emsp;<a href="#">查看详情</a>
                            </p>

                        </div>

                        <div class="timeline-item" date-is='2020-01-09 15:23'>
                            <h5>重庆市XXXX</h5>
                            <p style="font-size: 14px">
                                I'm speaking with myself, number one, because I have a very good brain and I've
                                said
                                a lot of things. I write the best placeholder text, and I'm the biggest
                                developer on
                                the web by far... While that's mock-ups and this is politics, are they really so
                                different? I think the only card she has is the Lorem card.
                            </p>
                            <p style="float: right;font-size: 10px">数据来源：重庆市市政府官网&emsp;<a href="#">查看详情</a></p>

                        </div>
                        <div>
                            <p style="text-align: center">&emsp;&emsp;点击加载更多</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--监听内容end-->


</div><!--End Row-->


</div>
</body>

<!-- 引入响应式布局的rem根标签 -->


<script type='text/javascript' src='{{ url_for('static',filename='wechat/js/jquery-3.2.1.js') }}'></script>
<script type='text/javascript' src='{{ url_for('static',filename='wechat/js/echarts.js') }}'></script>
<script type='text/javascript' src='{{ url_for('static',filename='wechat/js/china.js') }}'></script>

<script type='text/javascript' src='{{ url_for('static',filename='wechat/js/index.js') }}'></script>

<script src="{{ url_for('static',filename='assets/js/popper.min.js') }}"></script>

<script src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static',filename='wechat/js/hScroll.js') }}"></script>
<script type="text/javascript">
    //初始化
    new hScroll({
        nav1: '.headv>div', //导航对应的元素
        nav2: '.nav-list>div', //监听的元素
        checkClass: 'headv-check' //选中的样式
    });
</script>

{#<!-- simplebar js -->#}
{#<script src="{{ url_for('static',filename='assets/plugins/simplebar/js/simplebar.js') }}"></script>#}
{#<!-- sidebar-menu js -->#}
{#<script src="{{ url_for('static',filename='assets/js/sidebar-menu.js') }}"></script>#}

<!-- Custom scripts -->
{##}
{#<script src="{{ url_for('static',filename='assets/plugins/notifications/js/lobibox.min.js') }}"></script>#}
{#<script src="{{ url_for('static',filename='assets/plugins/notifications/js/notifications.min.js') }}"></script>#}
{#<script src="{{ url_for('static',filename='assets/plugins/notifications/js/notification-custom-script.js') }}"></script>#}
{##}
{#<!--Switchery Js-->#}
{#<script src="{{ url_for('static',filename='assets/plugins/switchery/js/switchery.min.js') }}"></script>#}
