{% extends 'headers.html' %}
{% block detail %}
    <div class="clearfix"></div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumb-->
            <div class="row pt-2 pb-2">
                <div class="col-sm-9">
                    <h4 class="page-title">链接库</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javaScript:void();">管理面板</a></li>
                        <li class="breadcrumb-item active" aria-current="page">链接库</li>
                    </ol>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">土地</div>
                            <hr>
                            <div class="row">
                                <div class="icon col-sm-3" data-code="f112" data-name="balance">
                                    <a href="https://www.cqggzy.com/xxhz/014004/014004001/zbggjyxx-page.html"
                                       target="_blank"><i
                                            class="zmdi zmdi-balance"></i> <span>重庆市公共资源交易网-土地出让</span></a>
                                </div>
                                <div class="icon col-sm-3" data-code="f111" data-name="balance-wallet">
                                    <a href="http://www.cq315house.com/" target="_blank"><i
                                            class="zmdi zmdi-balance-wallet"></i>
                                        <span>重庆网上房地产-首页</span></a>
                                </div>
                                <div class="icon col-sm-3" data-code="f111" data-name="balance-wallet">
                                    <a href="https://land.3fang.com/market/500100________1_0_1.html" target="_blank"><i
                                            class="zmdi zmdi-balance-wallet"></i>
                                        <span>房天下-土地招拍挂-重庆</span></a>
                                </div>
                                <div class="icon col-sm-3" data-code="f111" data-name="balance-wallet">
                                    <a href="http://ghzrzyj.cq.gov.cn/index.html" target="_blank"><i
                                            class="zmdi zmdi-balance-wallet"></i>
                                        <span>重庆市规划和自然资源局-首页</span></a>
                                </div>
                                <div class="icon col-sm-3" data-code="f111" data-name="balance-wallet">
                                    <a href="http://zfcxjw.cq.gov.cn/" target="_blank"><i
                                            class="zmdi zmdi-balance-wallet"></i>
                                        <span>重庆市住房和城乡建设委员会-首页</span></a>
                                </div>
                                <div class="icon col-sm-3" data-code="f111" data-name="balance-wallet">
                                    <a href="http://data.tjj.cq.gov.cn/" target="_blank"><i
                                            class="zmdi zmdi-balance-wallet"></i>
                                        <span>重庆市统计局-数据查询</span></a>
                                </div>
                                <div class="icon col-sm-3" data-code="f111" data-name="balance-wallet">
                                    <a href="http://www.mnr.gov.cn/" target="_blank"><i
                                            class="zmdi zmdi-balance-wallet"></i>
                                        <span>自然资源部门户网站-首页</span></a>
                                </div>
                                <div class="icon col-sm-3" data-code="f111" data-name="balance-wallet">
                                    <a href="http://www.mohurd.gov.cn/" target="_blank"><i
                                            class="zmdi zmdi-balance-wallet"></i>
                                        <span>住房和城乡建设部-首页</span></a>
                                </div>

                            </div>
{#                            <hr>#}
{#                            <form class="row">#}
{#                                <div class="form-group row col-sm-12">#}
{#                                    <label for="select_region_code" class="col-sm-2 col-form-label"#}
{#                                           id="label_select_region_code">行政区</label>#}
{#                                    <div class="col-sm-10">#}
{#                                        <select class="form-control single-select" id="select_region_code">#}
{#                                            <option value="-1">请选择</option>#}
{#                                            <option value="-1"><a href="http://zfcxjw.cq.gov.cn/"#}
{#                                                                  target="_blank">沙坪坝</a></option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </form>#}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">素材</div>
                            <hr>
                            <div class="row">
                                <div class="icon col-sm-3" data-code="f111" data-name="balance-wallet"
                                     data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    <a href="https://mp.weixin.qq.com/" target="_blank"><i
                                            class="zmdi zmdi-balance-wallet"></i>
                                        <span>微信公众平台-登录</span></a>
                                </div>
                                <div class="icon col-sm-3" data-code="f112" data-name="balance">
                                    <a href="https://xiumi.us/#/" target="_blank"><i
                                            class="zmdi zmdi-balance"></i> <span>秀米XIUMI-首页</span></a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}